.footer__block {
	background: $footer_bg_gradient;
	color: white;
	padding-bottom: 5px;
}

.footer__block__main {
	padding-top: 5px;
	display: flex;
	justify-content: space-around;
	max-width: 1280px;
	margin: 0 auto;
	@media (max-width: 576px) {
  flex-direction: column;
	}
}

.footer__block-item {
	padding: 5px 10px;
}

.footer__block-item-title {
	margin: 0;
	font-weight: 400;
	font-size: 1.4em;
}

.footer__block-item-list {
	margin: 5px 0;
	padding: 0;
}

.footer__block-item-punkt {
	list-style-type: none;
	padding: 5px 0;
}

.footer__block-item-punkt a {
	text-decoration: none;
	color: white;
}

.footer__delimiter {
	margin: 0 7px;
	height: 1px;
	background-color: #fff;
}

.footer__block__copy {
	text-align: center;
}

