<div class="ao__dop">
	<h3 class="astral5__tarif-title">Дополнительные услуги</h3>
	<p><span class="ao__dop-text">Установка ПО и консультации по работе с программой (за час работы) -</span> <span class="blank__price">2716</span> <span class="ao__dop-text">рублей</span></p>
	<p>Процесс подключения специалиста посредством программ для удаленного доступа к стороннему рабочему месту (ПК) клиента. Устанавливаются и настраиваются следующие ПО:</p>
	<ul class="ao__dop-text-list">
		<li>Проверка работоспособности СКЗИ</li>
		<li>Установка ПО "Астрал Отчет 4.5"</li>
		<li>Добавление подключаемой организации в ПО "Астрал Отчет"</li>
		<li>Запуск мастера генерации ЭП</li>
	</ul>
</div>