<div class="ao__dop">
	<h3 class="astral5__tarif-title">Расширение тарифа</h3>
	<ul class="ao__rash-text-list">
		<li>Дополнительное направление в ИФНС (каждое дополнительное КПП) <span>500</span> рублей</li>
		<li>Открытие дополнительного направления сдачи отчетов <span>2000</span> рублей</li>
		<li>Подключение направления сдачи отчетов в РосАлкагольРегулирование <span>3500</span> рублей</li>
		<li>Информационная выписка из ЕГРЮЛ <span>1000</span> рублей</li>
		<li>Внеплановая смена сертификата ЭЦП (за один сертификат и его регистрацию) <span>600</span> рублей</li>
	</ul>
</div>