<footer>
	<div class="footer__block">
		
		<div class="footer__block__main">
			<div class="footer__block-item">
				<h3 class="footer__block-item-title">Услуги</h3>
				<ul class="footer__block-item-list">
					<li class="footer__block-item-punkt"><a href="#">Сопровождение1С (1С:КП)</a></li>
					<li class="footer__block-item-punkt"><a href="#">Подбор решения 1С</a></li>
					<li class="footer__block-item-punkt"><a href="#">1С-Отчетность</a></li>
					<li class="footer__block-item-punkt"><a href="astral_ao.html">АстралОтчет</a></li>
					<li class="footer__block-item-punkt"><a href="astral5.html">Астрал 5.0</a></li>
					<li class="footer__block-item-punkt"><a href="#">Бухгалтерское обслуживание</a></li>
					<li class="footer__block-item-punkt"><a href="#">Электронные подписи</a></li>
				</ul>				
			</div>
			<div class="footer__block-item">
				<h3 class="footer__block-item-title">Программы</h3>
				<ul class="footer__block-item-list">
					<li class="footer__block-item-punkt"><a href="#">1С:Бухгалтерия</a></li>
					<li class="footer__block-item-punkt"><a href="#">1С:ЗУП</a></li>
					<li class="footer__block-item-punkt"><a href="#">1С:Розница</a></li>
					<li class="footer__block-item-punkt"><a href="#">Другие программы</a></li>
				</ul>	
			</div>
			<div class="footer__block-item">
				<h3 class="footer__block-item-title">Тех.поддержка</h3>
				<ul class="footer__block-item-list">
					<li class="footer__block-item-punkt"><a href="#">1С-Отчетность</a></li>
					<li class="footer__block-item-punkt"><a href="#">АстралОтчет</a></li>
					<li class="footer__block-item-punkt"><a href="#">Астрал 5.0</a></li>
					<li class="footer__block-item-punkt"><a href="#">1С-ЭДО</a></li>
					<li class="footer__block-item-punkt"><a href="#"></a></li>
				</ul>	
			</div>
			<div class="footer__block-item">
				<h3 class="footer__block-item-title">Контакты</h3>
				<ul class="footer__block-item-list">
					<li class="footer__block-item-punkt">Московская обл., Клин, ул. Мира, 3, оф.314</li>
					<li class="footer__block-item-punkt"><a href="contakts.html">Посмтотреть на карте</a></li>
					<li class="footer__block-item-punkt">Телефоны:<br>
						+7 (49624) 33-686<br>
						+7 (49624) 33-787<br>
						+7 (903) 173-2185
					</li>
					<li class="footer__block-item-punkt">Электронная почта:<br>
						<a href="mailto:info@gk-soft.ru">info@gk-soft.ru</a>
					</li>
				</ul>	
			</div>
		</div>
		<div class="footer__delimiter"></div>
		<div class="footer__block__copy">
			<p>&copy;&nbsp;<i>ООО "АстралСофт" 2011-2022</i></p>
		</div>
	</div>

</footer>
