<div class="header__nav">
	<nav class="nav__main">
		<ul class="nav__main-list">
			<li class="nav__main-item"><a href="index.html" class="nav__main-link link-aktiv">О компании</a></li>
			<li class="nav__main-item"><a href="#" class="nav__main-link">Продукты и услуги</a></li>
			<li class="nav__main-item"><a href="#" class="nav__main-link">Техподдержка</a></li>
			<li class="nav__main-item"><a href="contakts.html" class="nav__main-link">Контакты</a></li>
		</ul>
	</nav>
</div>
<div class="header__delimiter"></div>